.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #EFEFEF;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo{
  align-self: flex-start;
  width: 20%;
}

.navbar-brand {
  color: black;
  opacity: 0.8;
  margin-left: 5px;
}

.navbar-text {
  width: 85%;
  text-align: right;
}

.navbutton {
  background-color: #A9A9A9;
  border: none;
  margin-right: 10px;
  transition-duration: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}

.navbutton:hover {
    color: white;
}


.demo-link {
  align-self: center;
  color: black;
}

#profile {
  color: black;
}
