/*
#CAEBF2 Sky
#A9A9A9 Carbon
#FF3B3F Watermelon
#EFEFEF Neutral
#D5D5D5 Paper
#9099A2 Overcast
#6D7993 Lavender
#96858F Dusty
*/

.scroll-container {
  margin-top: 30px;
}

#index-container {
  padding-top: 100px;
  height: 100%;
  padding-bottom: 220px;
  background-color: #D5D5D5;
}

.index-box {
  display: flex;
}

.filters-box {
  margin-left: 5%;
  padding-bottom: 100px;
  width: 20%;
  max-width: 200px;
  position: fixed;
}

.score-filter-header {
  text-align: center;
  padding: 5px;
  margin-bottom: 40px;
}

.score-filter-header2 {
  text-align: center;
  padding: 5px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.university-index {
  width: 80%;
  max-width: 800px;
  margin-left: 25%;
}

.scroll-container {
}

.university-item-wrapper {
  color: black;
  text-decoration: none !important;
}

.university-item-wrapper:hover {
  color: black;
}

.university-item-box {
  display: flex;
  height: 80px;
  justify-content: flex-start;
  align-content: flex-start;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  background-color: #fff;
  transition: all 0.3s ease;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #EFEFEF;
}

.university-item-box:hover {
  opacity: 2;
  box-shadow:
         1px 1px #96858F,
         2px 2px #96858F,
         3px 3px #96858F,
         3px 3px #96858F;
 -webkit-transform: translateX(-3px);
 transform: translateX(-3px);
}

.university-metrics-box {
  margin-top: 4px;
  margin-left: 20px;
  margin-right: 10px;
}

.metrics {
  font-size: 12px;
}

.university-seal {
  height: 80%;
  width: 70px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.title-location-box {
  margin: 5px;
  margin-left: 15px;
  width: 30%;
}

.university-location {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}

#index-name {
  color: #6D7993;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes follow-animation {
  from {background: white; color: #6D7993; width: 85px; left: 50px;}
  to {background: #2EB82E; border-color: #6D7993; color: #ffffff; width: 85px; left: 50px;}
}
@-webkit-keyframes unfollow-animation {
  from {background: #2EB82E; color: #ffffff; width: 85px; left: 50px;}
  to {background: white; border-color: #6D7993; color: #6D7993; width: 85px; left: 50px;}
}

/* Standard syntax */
@keyframes follow-animation {
  from {background: white; color: #6D7993; width: 85px; left: 50px;}
  to {background: #96858F; border-color: #6D7993; color: #ffffff; width: 85px; left: 50px;}
}
@keyframes unfollow-animation {
  from {background: #96858F; color: #ffffff; width: 85px; left: 50px;}
  to {background: white; border-color: #6D7993; color: #6D7993; width: 85px; left: 50px;}
}

.follow-button {
  margin-top: 22px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  height: 30px;
  outline: none;
  z-index: 1;
}

.follow-button:after {
  color: #3399FF;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  cursor: hand;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;


  content: '+ Follow';
  -webkit-animation: unfollow-animation 1.0s ;
  -webkit-animation-fill-mode:forwards;
  animation: unfollow-animation 1.0s;
  animation-fill-mode:forwards;
}

.follow-button:checked:after {
  content: 'Following';
  -webkit-animation: follow-animation 1.0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: follow-animation 1.0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}
