.news-feed-box {
  width: 50%;
}

.news-feed-container {
  height: 500px;
  overflow-y: scroll;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#news-headline {
  font-size: 24px;
  font-weight: 400;
}

.story-box {
  display: flex;
  height: 40%;
  width: 95%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  background-color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.story-box:hover {
  opacity: 2;
  box-shadow:
         1px 1px #53a7ea,
         2px 2px #53a7ea,
         3px 3px #53a7ea,
         3px 3px #53a7ea;
 -webkit-transform: translateX(-3px);
 transform: translateX(-3px);
}

.news-image-box {
  flex: 1;
}

.news-image {
  padding: 10px;
  margin: auto;
  height: 100px;
  width: 100px;
}

.news-content-box {
  flex: 3;
  margin-bottom: 5px;
}

.news-content-title {
  font-size: 85%;
}

.news-content-description {
  font-size: 75%;
}
