.news-feed-box {
}

.news-feed-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 80px;
}

#news-headline {
  font-size: 36px;
  font-weight: 400;
}

.story-box {
  display: flex;
  height: 40%;
  width: 95%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  background-color: #fff;
  /*opacity: 0.8;*/
  transition: all 0.3s ease;
}

.story-box:hover {
  opacity: 2;
  box-shadow:
         1px 1px #96858F,
         2px 2px #96858F,
         3px 3px #96858F,
         3px 3px #96858F;
 -webkit-transform: translateX(-3px);
 transform: translateX(-3px);
}

.news-image-box {
  flex: 1;
}

.news-image {
  padding: 10px;
  margin: auto;
  height: 140px;
  width: 140px;
}

.news-content-box {
  flex: 3;
  margin-bottom: 5px;
}

.news-content-title {
  font-size: 85%;
  color: #6D7993;
}

.news-content-description {
  font-size: 75%;
}
