#profile-container {
  padding-top: 140px;
  background-color: #D5D5D5;
  height: 100%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 200px;
}

.profile-name-container {
  padding-top: 1px;
  padding-left: 5px;
}

#follows-header {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 48px;
  border-bottom: solid black 2px;
  padding-bottom: 10px;
  width: 99%;
  text-align: center;
}

.followed-universities-container {
}

.followed-universities-box{
  margin: 10px;
  padding: 10px;
  background-color: #EFEFEF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
}

.item-box{
  display: flex;
  border-bottom: solid grey 1px;
  min-height: 150px;
}

#header{
  width: 33%;
  padding: 15px;
}


#link-header {
  color: #6D7993;
  font-size: 36px;
}

.profile-location {
  font-size: 20px;
  margin-top: 10px;
}


.academics-box{
  width: 33%;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border-right: solid grey 1px;
  border-left: solid grey 1px;
}
.academics{
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

.cost-box{
  width: 33%;
  font-size: 14px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}

.costs {
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

.profile-field {
  text-align: left;
}

.profile-data {
  text-align: center;
  margin-left: auto;
}

#price-calculator {
  color: #6D7993;
}
