#profile-container {
  margin-top: 63px;
  background-color: #D5D5D5;
  height: 100%;
  padding-left: 4%;
  padding-right: 4%;
}

.profile-name-container {
  padding-top: 1px;
  padding-left: 5px;
}

.profile-name {
  margin-top: 30px;
  font-size: 48px;
  font-weight: 600;
}

#follows-header {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 48px;
  border-bottom: solid black 2px;
  max-width: 480px;
}

.followed-universities-container {
}

.followed-universities-box{
  margin: 10px;
  padding: 10px;
  background-color: #D5D5D5;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
}

.item-box{
  display: flex;
  border-bottom: solid grey 1px;
  min-height: 150px;
}

#header{
  width: 33%;
  padding: 15px;
}

#link-header {
  color: #6D7993;
  font-size: 24px;
}

.profile-location {
  font-size: 20px;
  margin-top: 10px;
}


.academics-box{
  width: 33%;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border-right: solid grey 1px;
  border-left: solid grey 1px;
}
.academics{
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cost-box{
  width: 33%;
  font-size: 14px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}

.costs {
  font-size: 14px;
  font-weight: 300;
}

#price-calculator {
  color: #6D7993;
}
