.show-page-container {
  padding: 20px;
  background-color: #D5D5D5;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  padding-top: 100px;
  display: flex;
}

.left-show-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.header-box {
  display: flex;
}

.header-logo {
  height: 150px;
  width: 150px;
  margin-right: 15px;
}

.link-header a {
  color: #6D7993;
  font-size: 40px;
  font-weight: 500;
}

.location {
  font-size: 32px;
}

.school-url {
  color: #6D7993;
  font-size: 32px;
}

.right-show-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 175px;
}

.show-academics-box {
  font-size: 36px;
  font-weight: 400;
}

.show-academics {
  font-size: 18px;
}

.show-cost-box {
  font-size: 36px;
  font-weight: 400;
}

.show-costs {
  font-size: 18px;
}

.price-calculator {
  color: #6D7993;
}
