.show-page-container {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  margin-top: 140px;
}

.show-box {
  display: flex;
  border: solid grey 1px;
  border-radius: 2px;
}
